In [20]:



#    OPTION DATA TASK:

import pandas as pd

pranjali = pd.read_csv(r"C:\Users\91882\Downloads\GFDLNFO_BACKADJUSTED_03012022.csv")

pranjali.head()

#Question1:

filtered_df = pranjali[pranjali['Ticker'].str.contains('BANKNIFTY.*CE\.NFO|BANKNIFTY.*PE\.NFO')]
filtered_df['scrip'] = filtered_df['Ticker'].str.extract(r'(\d{5}[CP][E]?)')
filtered_df['expiry'] = filtered_df['Ticker'].str.extract('BANKNIFTY(\d{2}[A-Z]{3}\d{2})\d+[A-Z]+\.NFO', expand=False)
filtered_df

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\1256754900.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['scrip'] = filtered_df['Ticker'].str.extract(r'(\d{5}[CP][E]?)')
C:\Users\91882\AppData\Local\Temp\ipykernel_5940\1256754900.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['expiry'] = filtered_df['Ticker'].str.extract('BANKNIFTY(\d{2}[A-Z]{3}\d{2})\d+[A-Z]+\.NFO', expand=False)

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,scrip,expiry
70634,BANKNIFTY03FEB2235000PE.NFO,03/01/2022,13:50:59,446.10,446.10,446.10,446.10,25,25,35000PE,03FEB22
70635,BANKNIFTY03FEB2235500CE.NFO,03/01/2022,09:26:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,03FEB22
70636,BANKNIFTY03FEB2235500CE.NFO,03/01/2022,09:27:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,03FEB22
70637,BANKNIFTY03FEB2235500CE.NFO,03/01/2022,09:30:59,1236.60,1236.60,1132.25,1132.25,50,325,35500CE,03FEB22
70638,BANKNIFTY03FEB2235500CE.NFO,03/01/2022,11:59:59,1325.45,1325.45,1325.00,1325.00,50,350,35500CE,03FEB22
...,...,...,...,...,...,...,...,...,...,...,...
162324,BANKNIFTY31MAR2242000CE.NFO,03/01/2022,14:40:59,224.65,224.65,224.65,224.65,25,650,42000CE,31MAR22
162325,BANKNIFTY31MAR2242000CE.NFO,03/01/2022,14:55:59,225.45,225.45,225.45,225.45,25,650,42000CE,31MAR22
162326,BANKNIFTY31MAR2242000CE.NFO,03/01/2022,15:26:59,210.00,210.00,210.00,210.00,25,650,42000CE,31MAR22
162327,BANKNIFTY31MAR2243500CE.NFO,03/01/2022,14:43:59,80.00,80.00,80.00,80.00,25,25,43500CE,31MAR22
162328,BANKNIFTY31MAR2243500CE.NFO,03/01/2022,14:51:59,90.50,90.50,90.50,90.50,25,50,43500CE,31MAR22

In [21]:
filtered_df["Date"]=pd.to_datetime(filtered_df.Date)

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\4141687501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["Date"]=pd.to_datetime(filtered_df.Date)

In [22]:
from datetime import datetime
filtered_df['expiry'] = filtered_df['expiry'].apply(lambda x: datetime.strptime(x, '%d%b%y'))

print(filtered_df)

                             Ticker       Date      Time     Open     High  \
70634   BANKNIFTY03FEB2235000PE.NFO 2022-03-01  13:50:59   446.10   446.10
70635   BANKNIFTY03FEB2235500CE.NFO 2022-03-01  09:26:59  1236.60  1236.60
70636   BANKNIFTY03FEB2235500CE.NFO 2022-03-01  09:27:59  1236.60  1236.60
70637   BANKNIFTY03FEB2235500CE.NFO 2022-03-01  09:30:59  1236.60  1236.60
70638   BANKNIFTY03FEB2235500CE.NFO 2022-03-01  11:59:59  1325.45  1325.45
...                             ...        ...       ...      ...      ...
162324  BANKNIFTY31MAR2242000CE.NFO 2022-03-01  14:40:59   224.65   224.65
162325  BANKNIFTY31MAR2242000CE.NFO 2022-03-01  14:55:59   225.45   225.45
162326  BANKNIFTY31MAR2242000CE.NFO 2022-03-01  15:26:59   210.00   210.00
162327  BANKNIFTY31MAR2243500CE.NFO 2022-03-01  14:43:59    80.00    80.00
162328  BANKNIFTY31MAR2243500CE.NFO 2022-03-01  14:51:59    90.50    90.50

            Low    Close  Volume  Open Interest    scrip     expiry
70634    446.10   446.10      25             25  35000PE 2022-02-03
70635   1236.60  1236.60      25            275  35500CE 2022-02-03
70636   1236.60  1236.60      25            275  35500CE 2022-02-03
70637   1132.25  1132.25      50            325  35500CE 2022-02-03
70638   1325.00  1325.00      50            350  35500CE 2022-02-03
...         ...      ...     ...            ...      ...        ...
162324   224.65   224.65      25            650  42000CE 2022-03-31
162325   225.45   225.45      25            650  42000CE 2022-03-31
162326   210.00   210.00      25            650  42000CE 2022-03-31
162327    80.00    80.00      25             25  43500CE 2022-03-31
162328    90.50    90.50      25             50  43500CE 2022-03-31

[91695 rows x 11 columns]

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\3236533662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['expiry'] = filtered_df['expiry'].apply(lambda x: datetime.strptime(x, '%d%b%y'))

In [23]:
filtered_df['expiry'] = pd.to_datetime(filtered_df['expiry'], format='%d/%m/%Y')

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\2551339247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['expiry'] = pd.to_datetime(filtered_df['expiry'], format='%d/%m/%Y')

In [24]:
filtered_df.head()

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,scrip,expiry
70634,BANKNIFTY03FEB2235000PE.NFO,2022-03-01,13:50:59,446.10,446.10,446.10,446.10,25,25,35000PE,2022-02-03
70635,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:26:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,2022-02-03
70636,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:27:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,2022-02-03
70637,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:30:59,1236.60,1236.60,1132.25,1132.25,50,325,35500CE,2022-02-03
70638,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,11:59:59,1325.45,1325.45,1325.00,1325.00,50,350,35500CE,2022-02-03

In [25]:
#Question 3: Calculation of expiry - Date = dte :

# Note : i have did all things right but don't know why i am getting some days in negative(-) kindly please give me a hint for that



filtered_df['dte'] = filtered_df['expiry'] - filtered_df['Date']

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\3896480084.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['dte'] = filtered_df['expiry'] - filtered_df['Date']

In [26]:
filtered_df.head()

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,scrip,expiry,dte
70634,BANKNIFTY03FEB2235000PE.NFO,2022-03-01,13:50:59,446.10,446.10,446.10,446.10,25,25,35000PE,2022-02-03,-26 days
70635,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:26:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,2022-02-03,-26 days
70636,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:27:59,1236.60,1236.60,1236.60,1236.60,25,275,35500CE,2022-02-03,-26 days
70637,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,09:30:59,1236.60,1236.60,1132.25,1132.25,50,325,35500CE,2022-02-03,-26 days
70638,BANKNIFTY03FEB2235500CE.NFO,2022-03-01,11:59:59,1325.45,1325.45,1325.00,1325.00,50,350,35500CE,2022-02-03,-26 days

In [27]:
filtered_df['Date'] = pd.to_datetime(filtered_df['Date'], format='%d/%m/%Y')

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\264035052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date'] = pd.to_datetime(filtered_df['Date'], format='%d/%m/%Y')

In [28]:
filtered_df['expiry'] = pd.to_datetime(filtered_df['expiry'], format='%d/%m/%Y')

C:\Users\91882\AppData\Local\Temp\ipykernel_5940\2551339247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['expiry'] = pd.to_datetime(filtered_df['expiry'], format='%d/%m/%Y')

In [29]:
#Question 5:  removing the columns like Time,Volume,Ticker etc

filtered_df = filtered_df.drop(['Ticker',  'Time', 'Volume', 'Open Interest'], axis=1)

filtered_df.head()

,Date,Open,High,Low,Close,scrip,expiry,dte
70634,2022-03-01,446.10,446.10,446.10,446.10,35000PE,2022-02-03,-26 days
70635,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70636,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70637,2022-03-01,1236.60,1236.60,1132.25,1132.25,35500CE,2022-02-03,-26 days
70638,2022-03-01,1325.45,1325.45,1325.00,1325.00,35500CE,2022-02-03,-26 days

In [31]:
filtered_df.rename(columns={'Date': 'date_time'}, inplace=True)

filtered_df.head()

,date_time,Open,High,Low,Close,scrip,expiry,dte
70634,2022-03-01,446.10,446.10,446.10,446.10,35000PE,2022-02-03,-26 days
70635,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70636,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70637,2022-03-01,1236.60,1236.60,1132.25,1132.25,35500CE,2022-02-03,-26 days
70638,2022-03-01,1325.45,1325.45,1325.00,1325.00,35500CE,2022-02-03,-26 days

In [32]:
#Question2 : New date_time column:


filtered_df["date_time"] = pd.to_datetime(filtered_df["date_time"])

In [33]:
filtered_df.head()

,date_time,Open,High,Low,Close,scrip,expiry,dte
70634,2022-03-01,446.10,446.10,446.10,446.10,35000PE,2022-02-03,-26 days
70635,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70636,2022-03-01,1236.60,1236.60,1236.60,1236.60,35500CE,2022-02-03,-26 days
70637,2022-03-01,1236.60,1236.60,1132.25,1132.25,35500CE,2022-02-03,-26 days
70638,2022-03-01,1325.45,1325.45,1325.00,1325.00,35500CE,2022-02-03,-26 days

In [34]:

#Question 6: data sorted by date_time:

filtered_df = filtered_df.sort_values('date_time')
filtered_df

        date_time    Open    High     Low   Close    scrip     expiry      dte
70634  2022-03-01  446.10  446.10  446.10  446.10  35000PE 2022-02-03 -26 days
131768 2022-03-01   71.90   77.35   70.40   77.35  38100CE 2022-01-13 -47 days
131767 2022-03-01   67.45   70.00   67.45   70.00  38100CE 2022-01-13 -47 days
131766 2022-03-01   67.70   67.70   67.45   67.45  38100CE 2022-01-13 -47 days
131765 2022-03-01   71.40   71.40   67.70   67.70  38100CE 2022-01-13 -47 days
...           ...     ...     ...     ...     ...      ...        ...      ...
101195 2022-03-01   22.60   23.45   22.40   23.30  37000CE 2022-01-06 -54 days
101194 2022-03-01   22.20   22.85   22.05   22.70  37000CE 2022-01-06 -54 days
101193 2022-03-01   21.50   22.65   21.30   22.05  37000CE 2022-01-06 -54 days
101213 2022-03-01   26.80   26.80   25.80   25.85  37000CE 2022-01-06 -54 days
162328 2022-03-01   90.50   90.50   90.50   90.50  43500CE 2022-03-31  30 days

[91695 rows x 8 columns]

In [35]:

#Question 4: Filtered data by minmum dte value


filtered_df.groupby("dte").min()

          date_time     Open     High      Low    Close    scrip     expiry
dte
-54 days 2022-03-01     0.90     1.05     0.55     0.65  30400CE 2022-01-06
-47 days 2022-03-01     3.00     3.00     3.00     3.00  30500PE 2022-01-13
-40 days 2022-03-01     8.00    16.30     8.00     8.00  31500PE 2022-01-20
-33 days 2022-03-01     8.20     8.20     8.20     8.20  30400CE 2022-01-27
-26 days 2022-03-01   118.25   118.25   118.25   118.25  35000PE 2022-02-03
-12 days 2022-03-01  1370.00  1370.00  1370.00  1370.00  36000CE 2022-02-17
-5 days  2022-03-01    80.00    80.00    80.00    80.00  30500PE 2022-02-24
2 days   2022-03-01  1970.00  1970.00  1970.00  1970.00  35000CE 2022-03-03
30 days  2022-03-01    80.00    80.00    80.00    80.00  30000PE 2022-03-31

In [ ]:
############################### E - N - D #############################




Thank you for giving me the opportunity i have tried my best atleast consider me for the next round i will be an worthy asset to your team 


I have already submitted the task1.